.herosection_parent {
  width: 100%;
  height: 100svh;

  .mySwiper {
    width: 100%;
    height: 100%;

    .swiper-button-prev,
    .swiper-button-next {
      color: var(--accent);
    }

    .swiper-pagination-bullets,
    .swiper-pagination-horizontal {
      transform: rotate(90deg);
      bottom: var(--swiper-pagination-bottom, 100px);

      .swiper-pagination-bullet-active {
        background-color: var(--accent) !important;
      }

      .swiper-pagination-bullet {
        background-color: white;
      }
    }

    .swiper-slide {
      width: 100%;
      height: 100%;
      background: linear-gradient(
          to top,
          rgba(0, 0, 0, 0.534),
          rgba(0, 0, 0, 0.534)
        ),
        url("../../assets/bg_yoga.png");

      .herosection_cont {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        flex-direction: column;
        gap: calc(var(--unit));

        h1 {
          color: white;
          text-align: center;
          font-size: calc(var(--unit) * 4);

          .primary {
            color: var(--accent);
          }
        }

        p {
          color: rgba(255, 255, 255, 0.589);
          max-width: 80ch;
          text-align: center;
          font-size: calc(var(--unit) + 5px);
        }
      }
    }
  }
}
