.shank-parent{

    .shank-cont{

        .bg-shank{
            width: 100%;
            height: 250px;
            background: linear-gradient(black black),url("../../assets/bg_shank.jpg");
        }
    }
}