:root {
  --max-width: 1400px;
  --unit: 12px;
  --black: #000000;
  --white: #ffffff;
  --accent: #ffbb00;
  --accent2 : #008080;
  --background : #f3f9f9;
  --text:#626262;
  --trans: all 0.34s ease-in-out;
  --shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  overflow-x: hidden;
}

.parent {
  width: 100% !important;

  .cont {
    max-width: var(--max-width);
    margin: auto;
    padding: 0 20px;
  }
}

p{
  font-size: 16px;
  letter-spacing: 0.7px;
  word-spacing: 1px;
  color: var(--text);
}

.btn {
  width: auto;
  padding: 10px 20px;
  background-color: var(--accent);
  color: var(--black);
  border-radius: 25px;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid var(--accent);
  transition: var(--trans);

  &:hover{
    background-color: transparent;
    border: 1px solid var(--accent);
    color: var(--accent);
  }
}


.bg-img-cover{
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  
}